on early-init
    start gki.modprobe
    start vendor.modprobe

service gki.modprobe /vendor/bin/system_dlkm_modprobe.sh
    class main
    user root
    group root system
    disabled
    stdio_to_kmsg
    seclabel u:r:vendor_modprobe:s0
    oneshot

service vendor.modprobe /vendor/bin/vendor_modprobe.sh
    class main
    user root
    group root system
    disabled
    stdio_to_kmsg
    seclabel u:r:vendor_modprobe:s0
    oneshot
